<div class="list-group">
    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item">
                <a href="{% url 'posts:category-detail' category.pk %}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
<!-- <div class="mt-3">
    <a href="{% url 'posts:category-list' %}" class="btn btn-outline-secondary">View All Categories</a>
</div>
<div class="mt-3">
    <a href="{% url 'posts:post-create' %}" class="btn btn-primary">Create a New Category</a>
</div> -->